@import './node_modules/bulma/bulma/utilities/utilities';
@import './node_modules/bulma/bulma/config/variables';

// variables here

@import './node_modules/bulma/bulma/config/generated-variables';
@import './node_modules/bulma/bulma/base/base';
@import './node_modules/bulma/bulma/elements/elements';
@import './node_modules/bulma/bulma/components/components';
@import './node_modules/bulma/bulma/layout/layout';

.hero-content .title {
  margin-bottom: 40px;
}

#audio-container {
  padding: 0;
  margin: 0;
  height: 0;
}

.selection-form {

}

.intro-text {
  color: #cfcfcf;
  font-size: 20px;
  padding: 0 0 50px 0;
}

.choices {
  min-height: 300px;
  padding: 0 40px;
}

.choices .select {
  top: 5px;
}

.chevron {
  padding-top: 50px;
}

.chevron i {
  font-size: 75px;
}

.selection {
  font-size: 27px;
  line-height: 1.9;
}

.selection select {
  border: 0;
  border-bottom: 1px dotted $red;
  font-size: 25px;
}
