@import './node_modules/bulma/bulma/utilities/utilities';
@import './node_modules/bulma/bulma/config/variables';

// variables here

@import './node_modules/bulma/bulma/config/generated-variables';
@import './node_modules/bulma/bulma/base/base';
@import './node_modules/bulma/bulma/elements/elements';
@import './node_modules/bulma/bulma/components/components';
@import './node_modules/bulma/bulma/layout/layout';

#audio-container {
  padding: 0;
  margin: 0;
  height: 0;
}

.choices {
  font-size: 22px;
  line-height: 1.9;
}

.choices .select {
  top: 5px;
}
